{% extends 'base.html' %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 my-5 py-5">
                <h2>404 - This Page Cannot be Found.</h2>
                <p>Please make a search or use the links below:</p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-md-4 d-flex justify-content-end">
                <a href="{% url 'home' %}" class="btn btn-black rounded-0 mx-1 float-end">Home</a>
                <a href="#" class="btn btn-black-outline rounded-0 mx-1 float-end" id="back-button">Back</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    <script src="{% static 'js/404-error.js' %}"></script>
{% endblock %}