{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="text-uppercase mt-4 py-4">Secure Checkout</h2>
            </div>
        </div>
        <!-- Bag Summmary -->
        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last">
                <p class="text-muted">Order Summary ({{ product_count }})</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="small text-muted">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="small text-muted">Subtotal</p>
                    </div>
                </div>
                <div class="bag-summary">
                {% for item in bag_items %}
                    <div class="row my-2">
                        <div class="col-2">
                            <a href="{% url 'product_detail' item.product.id %}">
                                {% if item.product.image %}
                                    <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}">
                                {% else %}
                                    <img class="w-100" src="{% static 'images/noimage.png' %}" alt="{{ item.product.product_name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <p class="my-0">{{ item.product.product_name }}</p>
                            <p class="my-0 small">Qty: {{ item.quantity }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small">£{{ item.subtotal }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <div class="row text-end py-5">
                    <div class="col-7">
                        <p class="my-0">Order Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">£{{ total | floatformat:2 }}</p>
                        <p class="my-0">£{{ delivery | floatformat:2 }}</p>
                        <p class="my-0"><strong>£{{ grand_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <!-- Delivery Information -->
            <div class="col-12 col-lg-6">
                <p class="text-muted py-2 mb-0">Please fill out the form below to complete your order:</p>
                <form action="{% url 'checkout' %}" method="post" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="checkout-fieldset" id="details-fieldset">
                        <legend class="fieldset-label w-auto pt-3 pb-2 px-1">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="checkout-fieldset" id="delivery-fieldset">
                        <legend class="fieldset-label w-auto pt-3 pb-2 px-1">Delivery</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline float-end">
							{% if user.is_authenticated %}
								<label class="form-check-label mb-2" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label mb-2" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="checkout-fieldset" id="checkout-fieldset">
                        <legend class="fieldset-label w-auto pt-3 pb-2 px-1">Payment</legend>
                        <div id="checkout">
                            <!-- Checkout will insert the payment form here -->
                        </div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="checkout-error" role="alert"></div>
                    </fieldset>
                    <div class="submit-button text-end">
                        <a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">Adjust Bag</a>
                        <button type="button" id="continue-button" class="btn btn-black rounded-0">Continue to Payment</button>
                        <button type="submit" id="pay-button" class="btn btn-black rounded-0">
                            Pay £{{ grand_total|floatformat:2 }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %} 
    {{ block.super}}
    <script>
        const checkoutSessionUrl = "{% url 'create_checkout_session' %}";
        const stripe = Stripe("{{ stripe_public_key }}");
    </script>
    <script src="{% static 'checkout/js/checkout.js' %}"></script>
{% endblock %}