body {
    margin-top: 168px;
    font-family: Inter, sans-serif;
}

.logo-font {
    font-family: 'Cinzel', serif;
}

.main-logo-link {
    width: fit-content;
}

.border-black {
    border: 1px solid black !important;
}

.unstyled {
    list-style: none;
}

#attribute-list > li >span {
    text-transform: uppercase;
    letter-spacing: 1px;
}

#main-nav > ul >li > a {
    text-transform: uppercase;
    letter-spacing: 1px;
}