body {
    margin-top: 168px;
    font-family: "Open Sans", sans-serif;
}

.logo-font {
    font-family: 'Cinzel', serif;
}

.main-logo-link {
    width: fit-content;
}

.border-black {
    border: 1px solid black !important;
}

.unstyled {
    list-style: none;
}

#attribute-list > li > span {
    text-transform: uppercase;
}

#main-nav > ul >li > a {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-img-wrapper {
    aspect-ratio: 3 / 4;
    overflow: hidden;
    width: 100%;
}

.card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    line-clamp: 2;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-body h3 {
    font-size: 1rem;
}

.btn-black {
    background: black;
    color: white;
}