<div class="collapse navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link text-black me-3" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black me-3" id="candles-and-home-fragrence-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Candles & Home Fragrence 
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="candles-and-home-fragrence-link">
                <a href="#" class="dropdown-item">Candles</a>
                <a href="#" class="dropdown-item">Candle Holders</a>
                <a href="#" class="dropdown-item">Diffusers</a>
                <a href="#" class="dropdown-item">Wax Melts</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black me-3" id="kitchen-and-dining=link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kitchen & Dining
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="kitchen-and-dining=link">
                <a href="#" class="dropdown-item">Mugs</a>
                <a href="#" class="dropdown-item">Bowls</a>
                <a href="#" class="dropdown-item">Tea Towels</a>
                <a href="#" class="dropdown-item">Jugs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black me-3" id="cards-and-gift-wrapping" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cards & Gift Wrap
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="cards-and-gift-wrapping">
                <a href="#" class="dropdown-item">Cards</a>
                <a href="#" class="dropdown-item">Wrapping paper</a>
                <a href="#" class="dropdown-item">Gift bags</a>
                <a href="#" class="dropdown-item">Tape & Ribbon</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black me-3" id="home-decor-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Home Decor
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="home-decor-link">
                <a href="#" class="dropdown-item">Photo Frames</a>
                <a href="#" class="dropdown-item">Book Ends</a>
                <a href="#" class="dropdown-item">Baskets & Mats</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black me-3" id="soft-furnishings-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Soft Furnishings
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="soft-furnishings-link">
                <a href="#" class="dropdown-item">Cushions</a>
                <a href="#" class="dropdown-item">Throws </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black me-3" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Perfume & Body
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="">
                <a href="#" class="dropdown-item">Perfume</a>
                <a href="#" class="dropdown-item">Soap</a>
                <a href="#" class="dropdown-item">Moisteriser</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black me-3" id="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stationary
            </a>
            <div class="dropdown-menu w-100 border-0" aria-labelledby="">
                <a href="#" class="dropdown-item">Notebooks</a>
                <a href="#" class="dropdown-item">Journals </a>
                <a href="#" class="dropdown-item">Paper Weights</a>
            </div>
        </li>
    </ul>
</div>