<div class="collapse navbar-collapse bg-white" id="main-nav">
    <ul class="navbar-nav mx-auto flex-wrap justify-content-center">
        <li class="nav-item d-block d-lg-none">
            <a class="nav-link text-black mx-2" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black mx-2 py-1 text-nowrap" id="candles-and-home-fragrance-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Candles & Home Fragrance 
            </a>
            <div class="dropdown-menu w-100 py-1 border-0" aria-labelledby="candles-and-home-fragrance-link">
                <a href="{% url 'products' %}?product_types=candles" class="dropdown-item">Candles</a>
                <a href="{% url 'products' %}?product_types=candle-holders" class="dropdown-item">Candle Holders</a>
                <a href="{% url 'products' %}?product_types=diffusers" class="dropdown-item">Diffusers</a>
                <a href="{% url 'products' %}?product_types=wax-melts" class="dropdown-item">Wax Melts</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black mx-2 py-1 text-nowrap" id="kitchen-and-dining-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Kitchen & Dining
            </a>
            <div class="dropdown-menu w-100 py-1 border-0" aria-labelledby="kitchen-and-dining-link">
                <a href="{% url 'products' %}?product_types=mugs" class="dropdown-item">Mugs</a>
                <a href="{% url 'products' %}?product_types=bowls" class="dropdown-item">Bowls</a>
                <a href="{% url 'products' %}?product_types=tea-towels" class="dropdown-item">Tea Towels</a>
                <a href="{% url 'products' %}?product_types=jugs" class="dropdown-item">Jugs</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black mx-2 py-1 text-nowrap" id="cards-and-gift-wrapping-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cards & Gift Wrap
            </a>
            <div class="dropdown-menu w-100 py-1 border-0" aria-labelledby="cards-and-gift-wrapping-link">
                <a href="{% url 'products' %}?product_types=cards" class="dropdown-item">Cards</a>
                <a href="{% url 'products' %}?product_types=wrapping-paper" class="dropdown-item">Wrapping paper</a>
                <a href="{% url 'products' %}?product_types=gift-bags" class="dropdown-item">Gift bags</a>
                <a href="{% url 'products' %}?product_types=tape-ribbon" class="dropdown-item">Tape & Ribbon</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black mx-2 py-1 text-nowrap" id="home-decor-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Home Decor
            </a>
            <div class="dropdown-menu w-100 py-1 border-0" aria-labelledby="home-decor-link">
                <a href="{% url 'products' %}?product_types=photo-frames" class="dropdown-item">Photo Frames</a>
                <a href="{% url 'products' %}?product_types=book-ends" class="dropdown-item">Book Ends</a>
                <a href="{% url 'products' %}?product_types=baskets-mats" class="dropdown-item">Baskets & Mats</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black mx-2 py-1 text-nowrap" id="soft-furnishings-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Soft Furnishings
            </a>
            <div class="dropdown-menu w-100 py-1 border-0" aria-labelledby="soft-furnishings-link">
                <a href="{% url 'products' %}?product_types=cushions" class="dropdown-item">Cushions</a>
                <a href="{% url 'products' %}?product_types=throws" class="dropdown-item">Throws </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black mx-2 py-1 text-nowrap" id="perfume-and-body-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Perfume & Body
            </a>
            <div class="dropdown-menu w-100 py-1 border-0" aria-labelledby="perfume-and-body-link">
                <a href="{% url 'products' %}?product_types=perfume" class="dropdown-item">Perfume</a>
                <a href="{% url 'products' %}?product_types=soap" class="dropdown-item">Soap</a>
                <a href="{% url 'products' %}?product_types=moisturiser" class="dropdown-item">Moisteriser</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link text-black mx-2 py-1 text-nowrap" id="stationary-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Stationary
            </a>
            <div class="dropdown-menu w-100 py-1 border-0" aria-labelledby="stationary-link">
                <a href="{% url 'products' %}?product_types=notebooks" class="dropdown-item">Notebooks</a>
                <a href="{% url 'products' %}?product_types=journals" class="dropdown-item">Journals </a>
                <a href="{% url 'products' %}?product_types=paper-weights" class="dropdown-item">Paper Weights</a>
            </div>
        </li>
    </ul>
</div>