
<a href="{% url 'home' %}" class="nav-link main-logo-link m-auto d-lg-none">
    <h1 class="logo-font mb-0">Reason Interiors</h1>
</a>

<ul class="list-inline me-2 d-flex justify-content-end d-lg-none">
    <li class="list-inline-item p-2">
    <a class="nav-link d-block d-lg-none" href="#" id="mobile-search" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-search fa-lg"></i></div>
        </div>
    </a>
    <div class="dropdown-menu w-100 border-0" aria-labelledby="mobile-search">
        <form method="GET" action="" class="w-100 px-3">
            <div class="input-group">
                <input class="form-control border-black rounded-0" type="text" name="q" placeholder=" Search Our Products">
                <button class="btn" type="submit">
                    <span>
                        <i class="fas fa-search fa-lg"></i>
                    </span>
                </button>
            </div>
        </form>
    </div>
</li>
    <li class="list-inline-item p-2">
        <a href="#" class="nav-link">
            <div>
                <i class="fas fa-user fa-lg"></i>
            </div>
        </a>
    </li>
    <li class="list-inline-item p-2">
        <a href="#" class="nav-link">
            <div>
                <i class="fas fa-bag-shopping fa-lg"></i>
            </div>
        </a>
    </li>
</ul>
