{% extends "account/base_manage.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}

{% block content %}

<div class="container authentication-container">
    <div class="row">
        <div class="col-12 col-lg-7 p-3 p-sm-5 my-5">

            <h2 class="text-uppercase mt-4 py-4 spacing-2">{% trans "Sign Out" %}</h2>

            {% element p %}
                {% trans 'Are you sure you want to sign out?' %}
            {% endelement %}

            {% url 'account_logout' as action_url %}
            {% element form method="post" action=action_url no_visible_fields=True %}
                {% slot body %}
                    {% csrf_token %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                <div class="text-end">
                    <button type="submit" class="btn btn-black rounded-0">
                        {% trans 'Sign Out' %}
                    </button>
                    <a href="{% url 'home' %}" class="btn btn-black-outline rounded-0">
                        {% trans 'Cancel' %}
                    </a>
</div>
                {% endslot %}
            {% endelement %}
        </div>
    </div>
</div>
{% endblock content %}
