{% extends "account/base_entrance.html" %}
{% load allauth i18n %}

{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
<div class="container authentication-container">
    <div class="row">
        <div class="col-12 col-lg-7 p-3 p-sm-5 my-5">
            <h2 class="text-uppercase mt-4 py-4 spacing-2">{% trans "Register with us" %}</h2>
                
            {% endelement %}

            {% setvar link %}
                <a class="green-link" href="{{ login_url }}">
                {% endsetvar %}
                {% setvar end_link %}
                </a>
            {% endsetvar %}

            {% element p %}
                {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
            {% endelement %}

            {% if not SOCIALACCOUNT_ONLY %}
                {% url 'account_signup' as action_url %}
                <div class="form-styling border-0 bg-mid">
                    {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                        {% slot body %}
                            {% csrf_token %}
                            <fieldset class="form-fieldset">
                                <legend class="fieldset-label">
                                    Sign Up
                                </legend>
                                {% element fields form=form unlabeled=True %}
                                {% endelement %}

                                {{ redirect_field }}
                            </fieldset>
                        {% endslot %}
                        {% slot actions %}
                            <div class="text-end">
                            <button class="btn btn-black rounded-0" type="submit">
                                {% trans "Sign Up" %}
                            </button>
                            <a class="btn btn-black-outline rounded-0" href="{% url 'home' %}">
                                {% trans "Home" %}
                            </a>
                            </div>
                        {% endslot %}
                    {% endelement %}
                </div>
            {% endif %}

            {% if PASSKEY_SIGNUP_ENABLED %}
                {% element hr %}
                {% endelement %}
                {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
                    {% trans "Sign up using a passkey" %}
                {% endelement %}
            {% endif %}

            {% if SOCIALACCOUNT_ENABLED %}
                {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
