{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
        <!-- Required Meta Tags -->
        <!-- Allows compatibility with older browsers -->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Discover unique homeware, candles, gifts and interior accessories from our Bristol store on Gloucester Road. Beautifully curated pieces for your home.">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>Reason Interiors {% block extra_title %}{% endblock %}</title>

    {% block corecss %}
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <!-- Local CSS -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!-- Font Awsome -->
         <script src="https://kit.fontawesome.com/818fed39bf.js" crossorigin="anonymous"></script>
        <!-- Bootstrap js -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <!-- Stripe JS-->
        <script src="https://js.stripe.com/clover/stripe.js"></script>
        {% endblock %}

    {% block extra_js %}
    {% endblock %}

</head>
  <body>
    <header class="container-fluid fixed-top header-bg">
        <div class="row d-none d-md-flex mt-4 mb-3">
            <!-- Search Bar -->
            <div class="col-12 col-md-4 my-auto">
                <form method="get" action="{% url 'products' %}" class="w-75">
                    <div class="input-group">
                        <input class="form-control border-black rounded-0 d-none" type="text" name="q" placeholder=" Search Our Products" id="search-input">
                        <button class="btn" type="button" id="search-btn">
                            <span>
                                <i class="fas fa-search fa-lg"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- Main Logo -->
            <div class="col-12 col-md-4 d-flex justify-content-center align-items-center">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h1 class="logo-font mb-0 text-nowrap">Reason Interiors</h1>
                </a>
            </div>
            <!-- Top Right Icons -->
            <div class="col-12 col-md-4">
                <ul class="list-inline d-flex justify-content-end align-items-center mb-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link d-flex flex-column align-items-center px-3" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user fa-lg mt-4"></i>
                            <span class="small my-3">Account</span>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'view_bag' %}" class="nav-link d-flex flex-column align-items-center px-3">
                            <i class="fas fa-bag-shopping fa-lg mt-4"></i>
                            <span class="small my-3">
                                {% if grand_total %}
                                £{{ grand_total|floatformat:2 }}
                                {% else %}
                                £0.00
                                {% endif %}
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Main Nav -->
        <div class="row">
            <nav id="navigation" class="navbar navbar-expand-md w-100 d-flex align-items-center py-0">
                <button 
                    class="navbar-toggler border-0 nav-icon" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#main-nav" 
                    aria-controls="main-nav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile_header.html' %}
                {% include 'includes/main_nav.html' %}
            </nav>
        </div>

        <!-- Delivery Banner -->
        <div id="delivery-banner" class="row text-center">
            <div class="col-12 text-white">
                <h4 class="mb-0 logo-font py-1">Free delivery on orders over £{{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}
    
    <main>
    {% block content %}
    {% endblock %}
    </main>

    <div class="footer-wrapper">
        <div class="container-fluid footer-background"></div>
        <footer class="container footer-container p-3">
            <div class="row d-flex justify-content-center">
                <div class="col-12 text-center p-4">
                    <h2 class="logo-font">Reason Interiors</h2>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <h5>Address</h5>
                    <p>97 Gloucster Read<br>Bishopston<br>Bristol<br>BS& 8AT</p>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <h5>Contact</h5>
                    <p>
                        Phone: 0117 329 4505
                        <br>
                        Email: info@reasoninteriors.com
                        <br>
                        <a href="https://www.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-xl fa-square-facebook mt-3"></i></a>
                        <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-xl fa-square-instagram mt-3"></i></a>
                        <a href="https://x.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-xl fa-square-twitter mt-3"></i></a>
                    </p>
                </div>
                <div class="col-12 col-md-3 text-center">
                    <h5>Opening Hours</h5>
                    <p>Monday - Friday: 10am - 5pm<br>Saturday: 10am - 5pm<br>Sunday: Closed</p>
                </div>
            </div>
        </footer>
    </div>
    
    {% block postload_js %}
        <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

  </body>
</html>