.bag-summary {
    max-height: 35rem;
    overflow-x: hidden;
    overflow-y: auto;
}

#pay-button {
    display: none;
}

.form-control::placeholder {
    color: var(--placeholder-colour);
}

select {
    color: var(--text-colour)
}

select:invalid,
select option[value=""] {
    color: var(--placeholder-colour);
}