{% extends 'base.html' %}
{% load static %}
{% load products_extras %}

{% block content %}
    <div class="container">
        <div class="row">
            <!-- Filter -->
            <div class="col-lg-3 " id="filter-panel">
                <ul id="attribute-list" class="unstyled">
                    {% for attribute in attributes %}
                        <li>
                            <span>
                                {{attribute.attribute_friendly_name}}
                            </span>
                            <ul class="unstyled ">
                                {% for value in attribute.values.all %}
                                    <li class="">
                                        <div class="form-check">
                                            <label for="{{ attribute.slug}}-{{value.slug }}" class="d-flex justify-content-between form-check-label">
                                                <span>
                                                    {{ value.attribute_value }}
                                                </span>   
                                                <input 
                                                    class="form-check-input"
                                                    type="checkbox" 
                                                    id="{{ attribute.slug}}-{{value.slug }}"
                                                    value="{{ value.slug }}" 
                                                    name="{{value.attribute.slug}}"
                                                    {% if value.slug in selected_values|get_item:attribute.slug %}
                                                        checked
                                                    {% endif %}
                                                    >
                                            </label>  
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- Products -->
            <div class="col-lg-9">
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <div class="card mb-2 border-0 rounded-0">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <div class="card-img-wrapper rounded-0">
                                            <img class="card-img-top img-fluid rounded-0" src="{{ product.image.url }}" alt="{{ product.product_name }}">
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <div class="card-img-wrapper rounded-0"></div>
                                            <img class="card-img-top img-fluid rounded-0" src="{% static 'images/noimage.webp' %}" alt="{{ product.product_name }}">
                                        </div>
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <h3 class="mb-0">{{ product.product_name }}</h3>
                                </div>
                                <div class="card-footer bg-white border-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="mb-0 text-muted">£{{ product.price }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if not products %}
                        <div class="col-12 text-center d-flex flex-column">
                            <p>
                            No Results Match Your Search
                            </p>
                            <span><a href="{% url 'home' %}">Home</a></span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
        <script src="{% static 'products/js/filters.js' %}"></script>
{% endblock %}
