{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-evenly">
        <div class="col-12 col-md-6 col-lg-4">
            <div>
                {% if product.image %}
                    <a href="{{ product.image.url }}" target="_blank">
                        <div class="card-img-wrapper rounded-0">
                            <img class="card-img-top img-fluid rounded-0" src="{{ product.image.url }}" alt="{{ product.product_name }}">
                        </div>
                    </a>
                {% else %}
                    <a href="">
                        <div class="card-img-wrapper rounded-0">
                            <img class="card-img-top img-fluid rounded-0" src="{% static 'images/noimage.webp' %}" alt="{{ product.product_name }}">
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-5 my-4">
            <h2>{{ product.product_name }}</h2>
            <p>£{{ product.price }}</p>
            <p>{{ product.description }}</p>
            {% if product.rating %}
            <p>{{ product.rating }}</p>
            {% else %}
            <p>No Ratings Yet</p>
            {% endif %}
            <form method="post" action="{% url 'add_to_bag' product.id %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <p>Quantity:</p>
                        <div class="input-group w-50">
                            <button
                                class="btn btn-black rounded-0 decrement-qty"
                                type="button"
                                data-item_id="{{ product.id }}"
                                id="decrement-qty_{{ product.id }}">
                                <i class="fas fa-minus"></i>
                            </button>

                            <input
                                class="form-control qty_input"
                                type="number"
                                name="quantity"
                                value="1"
                                min="1"
                                max="99"
                                data-item_id="{{ product.id }}"
                                id="id_qty_{{ product.id }}">

                            <button
                                class="btn btn-black rounded-0 increment-qty"
                                type="button"
                                data-item_id="{{ product.id }}"
                                id="increment-qty_{{ product.id }}">
                                <i class="fas fa-plus"></i>
                            </button>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                    <div class="col-12 d-flex justify-content-end">
                        <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12 col-md-6 my-4">
            
        </div>
    </div>
</div>
{% endblock %}