<div class="toast custom-toast rounded-0 border-0" data-autohide="false">
    <div class="arrow-up arrow-danger"></div>
    <div class="w-100 toast-topper bg-danger"></div>
    <div class="toast-header text-dark d-flex justify-content-between border-0">
        <strong class="mr-auto">Error!</strong>
        <button type="button" class="btn-close text-dark float-end" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>