{% load static %}

<div class="toast custom-toast rounded-0 border-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-topper bg-success"></div>
    <div class="toast-header text-dark d-flex justify-content-between border-0">
        <strong class="mr-auto">Success!</strong>
        <button type="button" class="btn-close text-dark float-end" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col-12">
                <p>
                    {{ message }}
                </p>
            </div>
            {% if grand_total and not on_profile_page %}
                <p>Your Bag ({{ product_count }})</p>
                
                <div class="bag-notification-wrapper">
                    {% for item in bag_items %}
                    <div class="row">
                        <div class="col-3">
                            {% if item.product.image %}
                                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.product_name }}">
                            {% else %}
                                <img class="w-100" src="{% static 'images/noimage.webp' %}" alt="{{ item.product.product_name }}">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <p>{{ item.product.product_name }}</p>
                            <p class="small text-muted">Qty: {{ item.quantity }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-12">
                    <p>
                        <strong>Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}: 
                            <span class="float-end">
                                £{{ total|floatformat:2 }}
                            </span>
                        </strong>
                    </p>
                    {% if free_delivery_delta > 0 %}
                        <div class="bg-warning shadow-sm">
                            <p class="text-center mb-0 py-2">
                                Spend <strong>£{{ free_delivery_delta|floatformat:2 }}</strong> more to get free next day delivery!
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-12">
                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 w-100">
                        <span class="text-uppercase">Go To Secure Checkout</span>
                        <i class="fas fa-lock"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>