<div class="toast custom-toast rounded-0 border-0" data-autohide="false">
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-topper bg-info"></div>
    <div class="toast-header text-dark d-flex justify-content-between border-0">
        <p class="mb-0 pt-3"><strong class="mr-auto text-uppercase spacing-2">Info!</strong></p>
        <button type="button" class="btn-close text-dark float-end" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{ message }}
    </div>
</div>